# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
lib64/
Python/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.pth
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
.benchmarks
.ipynb_checkpoints
profile_temp/
sitecustomize.py

# Base de datos SQLite
*.db
*.sqlite3

# Flask específicos
instance/
.flaskenv

# Archivos de logs
*.log

# Archivos de configuración sensibles (si los tuvieras, por ejemplo, secretos de API)
config.py # Si tienes un archivo config.py con datos sensibles, ¡no lo subas!